doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/login.css')
        //script(src="/libs/jquery/dist/jquery.min.js")
        //script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    body
        .wrapper
            .sign-in-inner
                .login-brand
                    strong Login
                form(method="post", action="/users/login")
                    div.form-group
                        input.form-control(type="text", name="uid", placeholder="用户名")
                    div.form-group
                        input.form-control(type="password", name="password", placeholder="密码")
                    button.btn.loginbtn(type="submit") 登录
