extends ../layout

block content
    form#upload.form-horizontal
        label 上传文件
            input(type="file", name="headpic")
    image(src="/uploads/quotation/5b2cb5f8a9b8e715c8902984.jpeg", width="375", height="340")
    script(src="/javascripts/basic/upload.js")