extends ../layout

block content
    form#swiper.upload.form-horizontal
        label 上传文件
            input(type="file", name="swiper", multiple="true")
    image(src="/uploads/swiper/1.jpeg", width="375", height="180")
    image(src="/uploads/swiper/2.jpeg", width="375", height="180")
    image(src="/uploads/swiper/3.jpeg", width="375", height="180")
    script(src="/javascripts/upload/upload.js")