extends ../layout

block content
    form(method="post", action="/basicdata/quotation")
        div
            label 线路名称
            input(type="text", name="name")
        div
            label 始发城市
            input(type="text", name="startCity")
        div
            label 到货城市
            input(type="text", name="endCity")
        div
            label 隶属加盟商
            select(name="plant")
                each plant in plants
                    option(value=plant._id) #{plant.name}
        div
            label 联系人
            input(type="text", name="contacts")
        div
            label 电话
            input(type="text", name="cellphone")
        div
            label 价格
            input(type="number", name="price")
        div
            label 时效
            input(type="number", name="time")
        //div
        //    label logo
        //    input(type="file", name="logo")
        button(type="submit") 提交
