extends ../layout
block css
    link(rel='stylesheet', href='/stylesheets/basicdata.css')
block content
    .centercontent
        form(method="post", action="/basicdata/users")
            div
                label 用户名
                input(type="text", name="uid")
            div
                label 姓名
                input(type="text", name="name")
            div
                label 邮箱
                input(type="email", name="email")
            div
                label 电话
                input(type="tel", name="cellphone")
            div(class="level")
                label 类型
                select(name="level")
                    option(value="0") 管理员
                    option(value="1") 子公司
                    option(value="2") 加盟商
            div
                label 状态
                select(name="status")
                    option(value="1") 启用
                    option(value="0") 停用
            div(class="owner")
                label 所有者
                select(name="owner")
            button(type="submit") 提交
    script(src="/javascripts/basicdata.js")